version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/hdl_registers"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
