GitPython
packaging
pybadges
pycairo
PyGObject
pytest
pytest-cov
pytest-xdist
PyYAML
requests
ruff
setuptools
sphinx
sphinx_sitemap
sphinx-rtd-theme
sphinx-toolbox
sphinxcontrib-wavedrom
sphinxext-opengraph
twine
vunit_hdl
