flake8
GitPython
mypy
packaging
pybadges
pycairo
PyGObject
pylint
pytest
pytest-cov
pytest-xdist
PyYAML
setuptools
sphinx
sphinx_sitemap
sphinx-rtd-theme
sphinx-toolbox
sphinxcontrib-wavedrom
sphinxext-opengraph
twine
types-PyYAML
vunit_hdl
