[conf]

mode = "r_w"
description = "Configuration register."

# This will allocate a bit vector field named "tuser" in the "conf" register.
# The "type" property MUST be present and set to "bit_vector".
tuser.type = "bit_vector"

# The "width" property MUST be present for a bit vector field.
# The value specified MUST be a positive integer.
tuser.width = 4

# The "description" property is OPTIONAL for a bit vector field.
# Will default to "" if not specified.
# The value specified MUST be a string.
tuser.description = "Value to set for **TUSER** in the data stream."

# The "default_value" property is OPTIONAL for a bit vector field.
# Will default to all zeros if not specified.
# The value specified MUST be either
# 1. A string of 1's and 0's. The string length MUST be the same as the field width.
# 2. An unsigned integer. The value's binary representation MUST fit within the field width.
tuser.default_value = "0101"

# The "numerical_interpretation" property is OPTIONAL for a bit vector field.
# Will default to "unsigned" if not specified.
# The value specified MUST be either
# 1. "unsigned"
# 2. "signed"
# 3. "ufixed"
# 4. "sfixed"
tuser.numerical_interpretation = "unsigned"

# The "min_bit_index" property is OPTIONAL for a bit vector field.
# Will default to 0 if not specified.
# This property is only used when numerical_interpretation is "ufixed" or "sfixed".
# The property specifies the bit index of the LSB of the fixed point number.
tuser.min_bit_index = 0


tid.type = "bit_vector"
tid.width = 8
tid.description = "Value to set for **TID** in the data stream."
tid.default_value = 0xf3


tdest.type = "bit_vector"
tdest.width = 3
tdest.description = "Value to set for **TDEST** in the data stream."
